body{
    background-color: chartreuse;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    font-style: italic;
}

header{
    border: red 30px solid;
    box-shadow: 10px 10px 10px 10px black;
}

.bio{
    color: deeppink;
}